<%- include('../layouts/layout-start', { title: 'Редактировать: ' + book.title }) %>

<h1 class="mb-4 mt-3">Редактировать книгу</h1>

<form action="/books/update/<%= book.id %>/" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Название</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= book.title %>" required>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <input type="text" class="form-control" id="description" name="description" value="<%= book.description %>" required>
    </div>

    <div class="mb-3">
        <label for="authors" class="form-label">Автор</label>
        <input type="text" class="form-control" id="authors" name="authors" value="<%= book.authors %>" required>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    <a href="/books/getAllBooks" class="btn btn-secondary">Отмена</a>
</form>

<%- include('../layouts/layout-end') %>